{% extends "base.html" %}

{% block body %}
<a href="/admin/passwords/password/{{ audited_password.pk }}/">
    {{ audited_password }}</a> is able to be accessed by:<br>
<br>

<h3>Normal Users</h3>
{% for user, groups in normoids.items %}
    <a href="/admin/auth/user/{{ user.pk }}/" >{{ user }}</a>
    because (s)he is in the group(s):
    {% for group in groups %}
        <a href=/admin/auth/group/{{ group.pk }}/>{{ group }}</a>
    {% endfor %}<br>
{% empty %}
    Nobody!
{% endfor %}

<h3>Super Users</h3>
{% for user in superusers %}
<a href="/admin/auth/user/{{ user.pk }}/">{{ user }}</a><br>
{% endfor %}

{% endblock body %}
